.about__container {
    padding-left: 15%;
    color: var(--color-subtext)
}

.about__title {
    font-size: 35px;
    padding: 20px 0px;
    line-height: 200%;
}

.about__me, .about__technologies {
    color: var(--color-subtext);
    font-size: 20px;
    line-height: 170%;
    text-align: justify;
    max-width: 500px;
}

@media screen and (max-width: 1050px) {
    .about__container {
        padding-left: 2rem;
    }

    .about__me {
        text-align: justify;
    }
}
