@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400&display=swap');

:root {
  --font-family: 'Lexend', sans-serif;
  
  --color-bg: #0B3C49;
  --color-lighter: #195F72; /* 195F72 */
  --color-subtext: #CACFD1;
  --color-text: #FCFEFF; 
  --color-special: #00BBEF;
}